*{
  text-decoration: none;
  list-style: none;
  padding: 0;
}

body {
  background-color: rgba(255, 255, 255, 0.982);
  position: relative;
}

#root {
  flex-direction: column;
}

header {
  width: 18rem;
  height: 100%;
  top: 0; left: 0;
  position: fixed;
  background-color: rgb(6, 88, 62);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: opacity 0.5s ease;
}

header hr {
  width: 90%;
}

header p {
  color: rgb(255, 253, 253);
  text-align: center;
  margin: 1.5em 0;
  font-weight: 750;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

header ul, header h1 {
  padding: 0 15px;
}

header ul li {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header ul li a {
  align-items: center;
  display: flex;
  padding: 15px 0;
  width: 100%;
  font-weight: 800;
  color: grey;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

header ul li a:hover {
  border-radius: 10px;
  background-color: rgb(201, 201, 209);
  transition: background-color 0.5s ease;
  color: black;
}

header ul li a.active {
  border-radius: 10px;
  border-right-style: solid;
  border-right-color: rgb(69, 148, 141);
  font-weight: bolder;
  font-size: 20px;
  background-color: rgb(201, 201, 209);
  transition: background-color 0.5s ease;
  color: rgb(69, 148, 141);
  transition: color 0.5s ease;
}

header ul li span {
  margin-left: 0.6em;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.x {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 18rem;
  top: 0; right: 0; left: 0;
  z-index: 1000;
  position: fixed;
  height: 5vh;
  background-color: rgb(241, 241, 241);;
  padding: 0.5rem;
}

.x-hidden, .main-hidden {
  margin-left: 0 !important;
}

.x, main {
  transition: margin-left 0.5s ease;
}


.x ul {
  display: flex;
  width: 400px;
  overflow-x: auto;
  scrollbar-width: none;
}


.x ul li a {
  font-size: 1rem;
  padding: 10px;
  color: rgb(69, 148, 141);
  font-weight: bold;
  display: block;
  transition: 0.6s ease-out;
}

.x ul li a:hover {
  background-color: grey;
  color: whitesmoke;
}


.x span {
  cursor: pointer;
}

.x div {
  display: flex;
  align-items: center;
}

.x div input {
  height: 5vh;
  width: 15vw;
  border-radius: 20px;
  margin-left: -2rem;
  padding-left: 2rem;
  background-color: transparent;
}

.x div input:hover {
  width: 20vw;
  transition: 0.3s ease-out;
  outline-color: rgb(6, 88, 62);
  background-color: rgb(249, 247, 247);
}

main {
  flex-grow: 1;
  margin-left: 18rem;
  position: relative;
  top: 4em;
  z-index: 0;
}


@media (max-width: 900px) {
  header {
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header p {
    display: none;
  }

  hr {
    display: none;
  }

  header ul li span {
    display: none;
  }
 
  div.x, main {
    margin-left: 5rem;
  }
}

@media (max-width: 500px) {
  #root {
    flex-direction: column;
  }

  .hidden {
    opacity: 0;
    pointer-events: none;
  }

  header {
    z-index: 1000;
    width: 100%;
    margin: 0;
    height: auto;
    bottom: 0;
    top: auto;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  header p {
    font-size: 15px;
    margin: 0;
  }

  hr {
    display: none;
  }

  header ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  header ul li {
    margin: 0 0.5em;
  }

  header ul li span {
    display: none
  }

  header ul li a.active {
    border-right-style: none;    
    background-color: transparent;
  }

  header ul li a:hover {
    border-radius: 40%;
  }

  div.x {
    margin: 0;
  }

  div.x span {
    display: none;
  }

  div.x h1 {
    margin: 0;
    text-align: center;
    border-bottom: solid;
    text-align: center;
    color: rgb(74, 8, 8);
  }

  main {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
