*{
  text-decoration: none;
  list-style: none;
  padding: 0;
}

body {
  background-color: #ffffff;
}

#root {
  display: flex;
}

header {
  width: 18rem;
  height: 100%;
  top: 0; left: 0;
  position: fixed;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header hr {
  width: 90%;
}

header p {
  color: black;
  text-align: center;
  margin: 2em;
  font-weight: 750;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

header ul, header h1 {
  padding: 0 15px;
}

header ul {
  margin-left: 3vw;
}

header ul li {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header ul li a {
  align-items: center;
  display: flex;
  padding: 15px 0;
  width: 100%;
  font-weight: 800;
  color: grey;
}

header ul li a:hover {
  border-radius: 10px;
  background-color: rgb(201, 201, 209);
  transition: background-color 0.5s ease;
  color: black;
}

header ul li a.active {
  border-radius: 10px;
  border-right-style: solid;
  border-right-color: rgb(69, 148, 141);;
  font-weight: bolder;
  font-size: 20px;
  background-color: rgb(201, 201, 209);
  transition: background-color 0.5s ease;
  color: rgb(69, 148, 141);
  transition: color 0.5s ease;
}


header ul li span {
  margin-left: 0.6em;
}

main {
  margin-left: 19rem;
}


@media (max-width: 900px) {

  header {
    width: 13em;
  }

  header p {
    font-size: 15px;
  }

  header ul {
    margin-left: 0;
  }

  header ul li a:hover {
    border-radius: 0px;
    background-color: white;
  }
}


@media (max-width: 770px) {

  header {
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  header p {
    font-size: 15px;
  }

  header ul li span {
    display: none
  }

  header ul li a.active {
    border-right-style: none;    
    background-color: transparent;
  }

  header ul li a:hover {
    border-radius: 40%;
  }

  main {
    margin: 0;
  }

  
}

@media (max-width: 500px) {

  #root {
    flex-direction: column;
  }
  
  header {
    width: 100%;
    margin: 0;
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  header p {
    font-size: 15px;
    margin: 0;
  }

  hr {
    display: none;
  }

  header ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  header ul li {
    margin: 0 2em;
  }

  main {
    margin-left: 0;
    margin-top: 2em;
    width: 100%;
  }
}
